<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Users
    </h3>
  </div>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th width="30%" style="text-align: center">
          <a href="" ng-click="sortType = 'firstname'; sortReverse = !sortReverse">
            First Name
            <span class='glyphicon glyphicon-chevron-up'> </span>
            <span class='glyphicon glyphicon-chevron-down'> </span>  
        	</a>
        </th>
        <th width="30%" style="text-align: center">
          <a href="" ng-click="sortType = 'lastname'; sortReverse = !sortReverse">
            Last Name  
            <span class='glyphicon glyphicon-chevron-up'> </span>
            <span class='glyphicon glyphicon-chevron-down'> </span>
        	</a>
        </th>
        <th width="40%" style="text-align: center">
          <a href="" ng-click="sortType = 'email'; sortReverse = !sortReverse">
            Email
            <span class='glyphicon glyphicon-chevron-up'> </span>
            <span class='glyphicon glyphicon-chevron-down'> </span>
          </a>
        </th>
      </thead>
      <tbody>
        <tr ng-repeat="user in users.query | orderBy:sortType:sortReverse" style="text-align: center">
          <td style="text-align:center">
            {{ user.firstname }}
          </td>
          <td style="text-align:center">
            {{ user.lastname }}
          </td>
          <td style="text-align:center">
            {{ user.email }}
          </td>
        </tr>
      </tbody>
  </table>
  <div>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th width="30%"></th>
        <th width="30%"></th>
        <th width="40%"></th>
      </thead>
      <tbody>
        <tr>
          <td style="text-align:center">
            <input style="width:100%"
            type="text" 
            ng-model="new.firstname" 
            required>
          </td>
          <td style="text-align:center">
            <input style="width:100%"
            type="text" 
            ng-model="new.lastname" 
            required>
          </td>
          <td style="text-align:center">
            <input style="width:100%"
            type="text" 
            ng-model="new.email" 
            required>
          </td>
        </tr>
      </tbody>
  </table>
	<button class="btn btn-default pull-right" ng-click="users.add(new)">
		<span class="glyphicon glyphicon-chevron-plus">
		  Add
		</span>
	</button>
</div>